---
import Head from "@components/Head.astro";
import Banner from "@components/Banner.astro";
---

<html lang="en">
	<Head title="Our Menu"/>
	<body>
		<Banner />
		<h1>Our Menu</h1>
	</body>
</html>
