---
import BannerPhoto from "@assets/banner.jpg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="w-full h-[230px] flex flex-col justify-center items-center text-center" style={`background-image: url(${BannerPhoto})`}>
  <span class="text-white font-bold text-6xl">{title}</span>
</div>