---
import Logo2 from "@assets/logo2.png";

import Instagram from "@assets/icons/Instagram.svg";
import Facebook from "@assets/icons/Facebook.svg";
import Twitter from "@assets/icons/Twitter.svg";
---
<footer class="m-5">
  <div class="m-5 flex flex-row justify-between text-green-800 font-bold">
    <a href="/"><img src={Logo2} /></a>

    <div class="flex flex-col justify-evenly">
      <a href="">CAREERS</a>
      <a href="">HISTORY</a>
      <a href="/fundraising-community">FUNDRAISING</a>
    </div>

    <div class="flex flex-col justify-evenly">
      <a href="/about-us">ABOUT US</a>
      <a href="/our-menu">OUR MENU</a>
      <a href="mailto:fundraising@krispykreme.ca">CONTACT</a>
    </div>

    <div class="flex flex-col justify-evenly">
      <a href="instagram.com/krispykremecan" class="rounded-full w-[25px] h-[25px]">
        <img src={Instagram} />
      </a>
      <a href="facebook.com/KrispyKremeCanada" class="rounded-full w-[25px] h-[25px]">
        <img src={Facebook} />
      </a>
      <a href="twitter.com/krispykremecan" class="rounded-full w-[25px] h-[25px]">
        <img src={Twitter} />
      </a>
    </div>
  </div>
</footer>