<nav class="font-bold text-green-800">
  <ul class="flex lg:flex-row flex-col items-center justify-center gap-5">
    <li>
      <a href="/about-us">OUR MENU</a>
    </li>
    <li>
      <a href="/find-a-store">FIND A STORE</a>
    </li>
    <li>
      <a href="/fundraising-community">FUNDRAISING</a>
    </li>
    <li>
      <a href="/about-us">ABOUT US</a>
    </li>
  </ul>
</nav>